.header {
    max-width: 2140px;
    width: 100%;
    height: 70px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    position: sticky; 
    top: 0;
    background-color: #ffffff;
    font-family: 'Nunito', serif;
}
.logo{
    width: 180px;
    height: 65px;
    float: left;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer;
}
.logo__img{
    width: 65px;
    height: 65px;
}
.log__text{
    font-size: 2.5rem;
}
.text--gradient{
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.nav {
    height:65px;
    margin:0 2rem;
}
.nav__list{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  gap:2rem;
  list-style: none;
}
.nav__link a{
  text-decoration: none;
  color: #000000;
}
.nav__link a:after {
	content: '';
  left: 0;
  display: block;
  padding: 1.5px;
  width: 100%;
  border-bottom: 2px solid;
  border-color: #096ff3;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.nav__link a:hover{
  color: #8a09f3;
}
.nav__link a:hover:after{
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
    
}
.nav--active{
  transition: 850ms;
  display: none;
}
/* Navbar */
.navTrigger {
  display: none;
}

.navTrigger{
  cursor: pointer;
  width: 30px;
  height: 25px;

}
.nav__close{
  display: none;
}
/* Responsive */
@media screen and (max-width:992px) {
  .navTrigger {
      display: block;
  }
  .header {
    width: 100%;
    max-width:992px;
  }
  .nav {
    height: 0;
    overflow: hidden;
  }
  .log__text{
    font-size: 1.5rem;
  }
  .nav{
    background: whitesmoke;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    position: fixed;
    right: -60%;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 850ms;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;
  }
  .nav__close{
    display: flex;
    position: fixed;
    right:-10%;
    top:1%;
    z-index: 2;
    cursor: pointer;
  }
  .nav__iconclose{
    width: 40px;
    height:40px ;
  }
  .nav--active{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    position: fixed;
    right: -7%;
    transition: 350ms;
}
.icon--active{
  right:3%;
  transition: 350ms;
}

  }
  /* Animation */
  /* Inspiration taken from https://codepen.io/pen/VwGaXJY */
  .navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top:1rem;
    
  }
  
  .navTrigger i {
    background-color: black;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
  }
  .navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    background-color: #eb5e28;
  }
  
  .navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    background-color: #eb5e28;
  }
  
  .navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    background-color:#eb5e28;
  }
  
  .navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
  }
  
  .navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
  }
  
  .navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
  }
  @-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
  }
  
  @keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
  }
  
  @-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
  }
  
  @keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
  }
  
  @-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  
  @keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
  }
  
  @-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
  }
  
  @keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
  }
  
  @-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
  }
  
  @keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
  }



