.education{
    width: 100%;
    height: 45vh;
}
.card__edu{
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    padding: 30px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    margin: 0 2% 2%;
  }
  .edu__title{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .edu__detail{
    list-style: none;
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    
  }
  .edu__text{
    margin: 0.5rem;
  }
  