@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Krub&family=Montserrat:wght@200&family=Nunito:wght@400&family=Sarabun:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ff3402; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B8C0FF; 
}
